@import './scss/vendors/normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@200;300;400;600;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  outline: none;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.header {
  background-color: #c01028;
  padding: clamp(1rem, 0.432rem + 2.84vw, 2.25rem) 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__info {
  display: flex;
  gap: 30px;
  align-items: center;
}
.header__logo {
  cursor: pointer;
}

.logo {
  font-family: "Encode Sans SC", sans-serif;
  position: relative;
  font-weight: 600;
  color: #fff;
  font-size: 36px;
  text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8);
}
.logo__type {
  position: absolute;
  font-size: 12px;
  bottom: -15px;
  right: -10px;
}

.btn {
  --b: 3px; /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(from 90deg at var(--b) var(--b), rgba(0, 0, 0, 0) 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid rgba(0, 0, 0, 0);
  outline-offset: 0.6em;
  font-size: 16px;
  border: 0;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover,
.btn:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.btn:active {
  background: var(--color);
  color: #fff;
}

.button {
  padding: 15px 25px;
  color: #212121;
  z-index: 1;
  background: #ffffff;
  position: relative;
  font-weight: 600;
  display: block;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #212121;
  z-index: -1;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.button:hover {
  color: #e8e8e8;
}

.button:hover::before {
  width: 100%;
}

.burger {
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  z-index: 102;
}

.burger span {
  background-color: #FFF;
  position: absolute;
  border-radius: 2px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.burger span:nth-child(1) {
  width: 100%;
  height: 4px;
  display: block;
  top: 0px;
  left: 0px;
}

.burger span:nth-child(2) {
  width: 100%;
  height: 4px;
  display: block;
  top: 13px;
  left: 0px;
}

.burger span:nth-child(3) {
  width: 100%;
  height: 4px;
  display: block;
  bottom: 0px;
  left: 0px;
}

.burger:not(.open):hover span:nth-child(1) {
  width: 100%;
  height: 4px;
  display: block;
  top: -2px;
  left: 0px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.burger:not(.open):hover span:nth-child(2) {
  width: 100%;
  height: 4px;
  display: block;
  top: 13px;
  left: 0px;
  transition: 0.4s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.burger:not(.open):hover span:nth-child(3) {
  width: 100%;
  height: 4px;
  display: block;
  bottom: -2px;
  left: 0px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.burger.open {
  transform: rotate(90deg);
}

.burger.open span:nth-child(1) {
  left: 3px;
  top: 12px;
  width: 30px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transform: rotate(90deg);
  transition-delay: 150ms;
}

.burger.open span:nth-child(2) {
  left: 2px;
  top: 20px;
  width: 20px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transform: rotate(45deg);
  transition-delay: 50ms;
}

.burger.open span:nth-child(3) {
  left: 14px;
  top: 20px;
  width: 20px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transform: rotate(-45deg);
  transition-delay: 100ms;
}

.menu {
  position: fixed;
  z-index: 101;
  background-color: #F23030;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  right: 0;
  width: 0%;
  bottom: 0;
  top: 122px;
}
.menu.open {
  width: 60%;
}/*# sourceMappingURL=styles.css.map */