nav.menu 
  ul.menu__list 
    li.menu__item 
      a(href="#") Головна
    li.menu__item 
      a(href="#") Курси 
    li.menu__item 
      a(href="#") Зв`язатись з нами 
    li.menu__item 
      a(href="#") Контакти   
