.menu {
  position: fixed;
  z-index: 101;
  background-color: #F23030;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  right: 0;
  width: 0%;
  bottom: 0;
  top: 122px;
  &.open {
    width: 60%;
  }
}